@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  background: inherit;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 1.42857143;
  color: #ffffff;
}
